doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.app
      div.header
        h1=title
        div.rest
          nav 
            a(href="/") Home
            a(href="/catalog") Catalog
            a(href="/about") About
      block content
      div.footer
        p Made by TheDoru
