* {
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

.content > *,
.header > * {
  margin-right: 10%;
  margin-left: 10%;
}

.content {
  flex-grow: 1;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}